venv/
.venv/
*.pyc
build/
dist/
*.spec
temp_files/
debug.log
.vscode/
.devcontainer/
.streamlit/
.env
__pycache__/


# Modelos de ML e dados
*.joblib
layouts_meta.json
mapeamento_layouts.xlsx

# Pastas de dados
arquivos_de_treinamento/
cache_de_texto/
